body {
    padding: 0px;
    margin: 0px;
}

#navbar {
    display: flex;
    height: 70px;
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid black;
    flex-direction: row;
    background-color: #EE5335;
}

img {
    width: 10%;
    border: 1px solid black;
}

#buttonContainer {
    display: flex;
    width: 90%;
    border: 1px solid black;
    justify-content: flex-end;
}

#buttonContainer > button {
    width: 15%;
    height: 100%;
    margin-left: 5px;
    border: none;
    background-color: rgba(0,0,0,0);
}